<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Create User</h1>
  <form action="/user" method="post">
    <div>
      username: <input type="text" name="username">
    </div>
    <div>
      email: <input type="email" name="email">
    </div>
    <div>
      <input type="submit" value="Submit">
    </div>
  </form>
</body>
</html>